.col-12{
    border-color:black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    font-family: Arial;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button {
	box-shadow: 0px 0px 0px 2px #000000;
	background-color:transparent;
	border-radius:10px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:12px;
	padding:10px 37px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    margin-top: 150px;
    margin-right: 5px;
    margin-bottom: 150px;
}
.button:hover {
	background-color:transparent;
}
.button:active {
	position:relative;
	top:1px;
}
